SERVER_PORT=8000

SESSION_SECRET=keyboardcat

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8000/auth/google/callback
GOOGLE_AUTH_WHITELIST=josh@x-team.com,*@yourdomain.com

DOC_THEME=
